.nik {
    text-decoration: none;
    color: black;
}
.info {
    display: flex;
    align-items: center;
    gap: 5px;
}
.nik {
    font-weight: 600;
    color: #262626;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.time, .views {
color: #252525;
font-size: 13px;
display: flex;
align-items: center;
gap: 3px;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.butt {
    display: flex;
    gap: 4px;
}
.butt button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #464646;
    transition: transform 0.1s ease, color 0.2s;
    padding: 0;
    line-height: 1;
}
.like:hover {
    color:#0095f6;
    transform: translateY(-2px);
     background-color: rgba(0, 149, 246, 0.1);
    
}
.diz:hover {
    color: #ed4956;
     transform: translateY(2px);
      background-color: rgba(237, 73, 86, 0.1);
}
.post-image {
 margin: 7px -14px;
 background-color: #f0f0f0;
 display: flex;
 justify-content: center;
 max-width: 350px;
 
}
.post-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}
.post-description {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    border: none;
    margin: 0px 0px;
    text-align: left;
}
.post-card {
    width: 350px;
    margin: 50px auto; 
}
.like-count, .diz-count {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}